#####################################################################
# 	Resonances
#####################################################################

[adxl345 rpi]
cs_pin: host:None
axes_map: z, y, x

[resonance_tester]
accel_chip: adxl345 rpi
probe_points: 
      150,150,20  # an example

[input_shaper]
shaper_freq_x: 63.4
shaper_type_x: zv
shaper_freq_y: 37.4
shaper_type_y: zv
